---
interface Props {
  description: string;
}

const { description } = Astro.props;
---

<p class="descriptionContainer">
  {description}
</p>

<style>
  .descriptionContainer {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #9f9f9f;
  }
</style>
