---
interface Props {
  srcImg: string;
  title: string;
}

const { srcImg, title } = Astro.props as Props;
---

<a href="/" class="logoPrincipal">
  <img src={srcImg} alt="logo" />
  <span class="titleLogoProncipal">{title}</span>
</a>

<style>
  .logoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    text-decoration: none;
  }

  .logo img {
    width: 100%;
    height: auto;
  }
  .titleLogoProncipal {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    font-size: 2rem;
  }
</style>
